<h4>Buscar habitación</h4>
<mat-card>
<mat-form-field>
  <mat-label>Selecciona hotel</mat-label>
  <mat-select>
    <mat-option *ngFor="let hotel of hotels" [value]="hotel.id">
      {{hotel.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
  <mat-form-field>
    <input matInput placeholder="CP" value="" required>
  </mat-form-field>
  <button mat-raised-button (click)="searchRoomsByHotel()">Buscar</button>
</mat-card>


<mat-list *ngIf="data">
  <mat-list-item *ngFor="let item of data">
    <h3 matLine> {{item.tipo}} </h3>
    <h3 matLine> {{item.servicios}} </h3>
    <h3 matLine> {{item.precioDia}} </h3>
    <h3 matLine> {{item.precioHora}} </h3>
    <button mat-raised-button color="accent">Reservar</button>
  </mat-list-item>
</mat-list>
